{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Fitness App</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/assets/img/favicon.png" rel="icon">
    <!-- <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


    <!-- Template Main CSS File -->
    <link href="static/assets/css/style.css" rel="stylesheet">


</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-lg-between">

            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="/" class="logo me-auto me-lg-0"><img
                    src="https://th.bing.com/th/id/OIP.zigLSGTyehrxM2K6ac8b8AHaHa?pid=ImgDet&rs=1" alt=""
                    class="img-fluid"></a>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">index</a></li>
                    <li class="scroll-to-section"><a href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto " href="/gallery">Gallery</a></li>
                    <li><a class="nav-link scrollto" href="/contact">Contact</a></li>
                    <li class="dropdown"><a href=""><span>Memberships</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a href="/join">Enroll</a></li>
                            <li><a href="/attendance">Attendance</a></li>

                            <li><a href="/profile">View Profile</a></li>
                        </ul>
                    </li>

                    {% if not request.user.is_authenticated %}
                    <li><a class="nav-link scrollto" href="/signup">Signin</a></li>
                    {% else %}
                    <li><a class="nav-link scrollto" href="/logout">Logout</a></li>

                    {% endif %}

                    <!-- <li><a class="nav-link scrollto" href="/signup">Sign In</a></li> -->

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            {% if request.user.is_authenticated %}
            <a href="/" class="get-started-btn scrollto">Welcome</a>
            {% endif %}
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1>Start Now Stop Never<span>.</span></h1>
                    <h2>Enroll today!</h2>
                </div>
            </div>

            <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <img src="static/assets/img/biceps.png" alt="">
                        <h3><a href="">Bicep | Tricep </a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <img src="static/assets/img/back.png" alt="">
                        <h3><a href="">Back</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <img class="white" src="static/assets/img/shoulder.png" alt="">
                        <h3><a href="">Shoulders</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <img src="static/assets/img/chest.png" alt="">
                        <h3><a href="">Chest</a></h3>
                    </div>
                </div>
                <div class="col-xl-2 col-md-4">
                    <div class="icon-box">
                        <img src="static/assets/img/legs.png" alt="">
                        <h3><a href="">Legs</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="static/assets/img/about2.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right"
                        data-aos-delay="100">
                        <h3>PUSH YOUR LIMITS FORWARD</h3>
                        <p class="fst-italic">
                            Best Gym fitness center located in Vasai
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>
                                <h4>Expert Trainers.</h4>
                            </li>
                            <li><i class="ri-check-double-line"></i>
                                <h4>Wide Space and new machines available.</h4>
                            </li>
                            <li><i class="ri-check-double-line"></i>
                                <h4>Flexible timing and Low cost.</h4>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="image col-lg-6" style='background-image: url("static/assets/img/feature2.jpg");'
                        data-aos="fade-right"></div>
                    <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <i class="fa-solid fa-dumbbell px-2"></i>
                            <h4>Proffessonal training plan</h4>
                            <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="fa-solid fa-heart-circle-bolt px-2"></i>
                            <h4>Unique to your needs</h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="fa-solid fa-person-biking px-2"></i>
                            <h4>Modern equipment</h4>
                            <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                        </div>
                    </div>


                    {% comment %} Trainer {% endcomment %}


                    <div class="row my-5">
                        <div class="section-title">
                            <h2>Trainer</h2>
                            <p>Expert Trainers</p>
                        </div>
                        <div class="col-lg-4">
                            <div class="trainer-item" style="
                            background-color: #fff;
                            border-radius: 5px;
                            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
                            padding: 40px;
                        ">
                                <div class="image-thumb">
                                    <img src="static/assets/img/first-trainer.jpg" alt="">
                                </div>
                                <div class="down-content my-2">
                                    <span>Strength Trainer</span>
                                    <h4>Bret D. Bowers</h4>
                                    <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free
                                        vegan church-key pour-over seitan flannel.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="trainer-item" style="
                            background-color: #fff;
                            border-radius: 5px;
                            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
                            padding: 40px;
                        ">
                                <div class="image-thumb">
                                    <img src="static/assets/img/second-trainer.jpg" alt="">
                                </div>
                                <div class="down-content my-2">
                                    <span>Muscle Trainer</span>
                                    <h4>Hector T. Daigl</h4>
                                    <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free
                                        vegan church-key pour-over seitan flannel.</p>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="trainer-item" style="
                            background-color: #fff;
                            border-radius: 5px;
                            box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
                            padding: 40px;
                        ">
                                <div class="image-thumb">
                                    <img src="static/assets/img/third-trainer.jpg" alt="">
                                </div>
                                <div class="down-content my-2">
                                    <span>Power Trainer</span>
                                    <h4>Paul D. Newman</h4>
                                    <p>Bitters cliche tattooed 8-bit distillery mustache. Keytar succulents gluten-free
                                        vegan church-key pour-over seitan flannel.</p>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section><!-- End Features Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>Check our Plans</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-dumbbell"></i></div>
                            <h4><a href="">Personal Training</a></h4>
                            <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box">
                            <div class="icon"><i class="fa-solid fa-people-group"></i></div>
                            <h4><a href="">Group fitness classes</a></h4>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><img src="static/assets/img/muscle.png" alt=""></div>
                            <h4><a href="">Body building</a></h4>
                            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
                        </div>

                    </div>

                    <div class="offset-lg-2 col-lg-4 col-md-6  mt-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><img src="static/assets/img/weightlifting.png" alt=""></i></div>
                            <h4><a href="">Strength training</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mt-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon-box">
                            <div class="icon"><img src="static/assets/img/buddhist-yoga-pose.png" alt=""></div>
                            <h4><a href="">Yoga</a></h4>
                            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Cta Section ======= -->
        <section id="cta" class="cta">
            <div class="container" data-aos="zoom-in">

                <div class="text-center">
                    <h1 class="text-warning fw-bold">DON’T THINK, BEGIN TODAY!
                    </h1>
                    <p>Professional trainer and modern equipments ,Large space.</p>
                    <a class="cta-btn" href="/signup">Sign Up Now</a>
                </div>

            </div>
        </section><!-- End Cta Section -->



        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container py-3">
                <header>
                    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                        <h1 class="display-4 fw-normal">Pricing</h1>
                        <p class="fs-5 text-muted">Plans We Offer</p>
                    </div>
                </header>
                <main>
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                        <div class="col ">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">5 Month</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">₹ 1200<small
                                            class="text-muted fw-light">/mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>No trainer</li>
                                        <li>Unlimited equipments</li>
                                        <li>Weight losing classes</li>
                                        <li>No time restriction</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">12 Month</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">₹ 5000<small
                                            class="text-muted fw-light">/mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Professional trainer</li>
                                        <li>Unlimited equipments</li>
                                        <li>Weight losing classes</li>
                                        <li>No time restriction</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card mb-4 rounded-3 shadow-sm">
                                <div class="card-header py-3">
                                    <h4 class="my-0 fw-normal">5 year</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">₹ 15000<small
                                            class="text-muted fw-light">/mo</small></h1>
                                    <ul class="list-unstyled mt-3 mb-4">
                                        <li>Professional trainer</li>
                                        <li>Unlimited equipments</li>
                                        <li>Weight losing classes</li>
                                        <li>Yoga and Cardia classes</li>
                                        <li>No time restriction</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


            </div>
    </main>


    </div>
    </section><!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                            <h3>Saul Goodman</h3>
                            <h4>Olympia Champion</h4>
                            <p>
                                Best gym to join in vasai
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                            <h3>Sara Wilsson</h3>
                            <h4>Trainer</h4>
                            <p>
                                Well Equipment Gym,Highly Recomended
                            </p>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                            <h3>Jena Karlis</h3>
                            <h4>Gym Caoch</h4>
                            <p>

                                Best trainer and wide space for gym

                            </p>
                        </div>
                    </div><!-- End testimonial item -->


                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div>

            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.1799256156187!2d72.83607451771168!3d19.40463043807917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7a932e389a1fd%3A0xd85ccfe0ee13cf98!2sEvershine%20Restaurant%20%26%20Bar!5e0!3m2!1sen!2sin!4v1681327559571!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="row mt-5">

                <div class="col-lg-4">
                    <div class="info">
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>Location:</h4>
                            <p>CR4P+2VJ, Evershine Garden Rd, Evershine City, Nalasopara East, Nala Sopara, Maharashtra
                                401209</p>
                        </div>

                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>Email:</h4>
                            <p>info@example.com</p>
                        </div>

                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>Call:</h4>
                            <p>+1 5589 55488 55s</p>
                        </div>

                    </div>

                </div>



            </div>

        </div>
    </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3>Gp<span>.</span></h3>
                            <p>
                                CR4P+2VJ, Evershine Garden Rd, Evershine City, Nalasopara East, Nala Sopara, Maharashtra
                                401209<br><br>
                                <strong>Phone:</strong> +1 5589 55488 55<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Body building</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Yoga</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Cardio</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Weightloss</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Strength building</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Sigup to get discount</p>
                        <a class="btn btn-warning btn-lg " href="/signup">Subscribe</a>


                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Gp</span></strong>. All Rights Reserved
            </div>

        </div>
    </footer><!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>

</body>

</html>